/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AG(keycode) &ag LG(keycode) keycode     // LGUI Macro

#define MEH     &kp LC(LS(LALT))
#define HYPER   &kp LC(LS(LA(LGUI)))


/ { 
    behaviors {
        ag: auto_gui {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tdques: tap_dance_ques {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp FSLH>, <&kp QUESTION>;
        };
        
        tdquote: tap_dance_quote {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp SQT>, <&kp DQT>;
        };
        
        tdcolon: tap_dance_colon {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ALT |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP WORD |
// | MEHTAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '  |  ;  |
// | CTRLTAB |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | \  |
//                    | GUI | ALT |ENT RAS |   | SPC LWR | HYP  | ESC |
                        bindings = <
   &kp LALT             &kp Q   &kp W &kp E   AG(R)   &kp T           &kp Y  &kp U   &kp I      &kp O       &kp P       &htbspc
   &mt MEH TAB          AG(A)   AG(S) &kp D   AG(F)   &pall 0 G       &kp H  &kp J   &kp K      &kp L       &tdquote    &tdcolon
   &mt LCTRL LC(TAB)    AG(Z)   AG(X) AG(C)   AG(V)   &call 0 B       AG(N)  &kp M   &kp COMMA  &kp DOT     &tdques     &to ADJ
                        &kp LGUI   &lt RAS BSPC   &mt LSHIFT ENTER      &lt LWR SPACE  &mt HYPER ESC  &to LWR
                        >;
                };
                
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |   0   |  =  |
// |      |     |     |     |     |     |   |     |     |     |  -  |  VOL+ |  +  |
// | SHFT |     |     |     |     |     |   |     |     |     | LG- |  VOL- | LG+ |
//                    | GUI | ALT |     |   |     | HYP | ESC |
                        bindings = <
   &trans  &kp N1  &kp N2   &kp N3      &kp N4  &kp N5          &kp N6   &kp N7   &kp N8    &kp N9      &kp N0      &kp EQUAL
   &trans  &trans  &trans   &trans      &trans  &trans          &trans   &trans   &trans    &kp MINUS   &kp C_VOL_UP    &kp PLUS
   &trans  &trans  &trans   &trans      &trans  &trans          &trans   &trans   &trans    &kp LG(MINUS)     &kp C_VOL_DN      &kp LG(PLUS)
                            &trans      &trans  &trans          &trans   &trans   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  £  |  %  |   |  ^  |  &  |  *  |  (  |  ) | = |
// | CTRL |     |     |  €  |  $  |     |   |     |     |     |  -  | UP |  +   |
// | SHFT |     |     |     |     |     |   |     |     |     | RGT | DN |  LFT |
//                    | GUI |     | SPC |   |     | HYP | ESC |
                        bindings = <
   &trans   &kp EXCL &kp AT             &kp HASH     &kp LA(N3) &kp PRCNT           &kp CARET   &kp AMPS  &kp ASTRK     &kp LPAR   &kp RPAR  &kp EQUAL
   &trans   &trans   &kp LA(LS(N2))     &kp DOLLAR   &trans     &trans              &trans      &trans    &trans        &kp MINUS  &kp UP    &kp PLUS
   &trans   &trans   &trans             &trans       &trans     &trans              &trans      &trans    &trans        &kp LEFT   &kp DOWN  &to DEFAULT
                                        &trans       &trans     &trans              &trans      &trans    &to DEFAULT
                        >;
                };
                
                adjust_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  ) | = |
// | CTRL |     |     |  €  |  $  |     |   |     |     |     |  -  | UP |  +   |
// | SHFT |     |     |     |     |     |   |     |     |     | RGT | DN |  LFT |
//                    | GUI |     | SPC |   |     | HYP | ESC |
                        bindings = <
   &trans   &trans  &trans  &trans  AG(R)     &trans          &trans   &trans  &trans  &trans  &trans  &trans
   &trans   AG(A)   AG(S)   &trans  AG(F)     &pall 0 G       &trans   &trans  &trans  &trans  &trans  &trans
   &trans   AG(Z)   AG(X)   AG(C)   AG(V)     &call 0 B       &trans   &trans  &trans  &trans  &trans  &to DEFAULT
                            &trans  &trans    &trans          &trans   &trans    &to DEFAULT
                        >;
                };
        };
};

